[submodule "Vendor/Production/RCLocationManager"]
	path = Vendor/Production/RCLocationManager
	url = git://github.com/rcabamo/RCLocationManager.git
[submodule "Vendor/Production/nimbus"]
	path = Vendor/Production/nimbus
	url = https://github.com/jverkoey/nimbus.git
[submodule "Vendor/Production/MPFlipViewController"]
	path = Vendor/Production/MPFlipViewController
	url = git://github.com/mpospese/MPFlipViewController.git
[submodule "Vendor/Development/DCIntrospect"]
	path = Vendor/Development/DCIntrospect
	url = git://github.com/domesticcatsoftware/DCIntrospect.git
