<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>watch</key>
	<dict>
		<key>tag_name</key>
		<string>Movie Theater</string>
		<key>tag</key>
		<string>157</string>
		<key>radius</key>
		<string>5</string>
	</dict>
	<key>play</key>
	<dict>
		<key>tag</key>
		<string>75</string>
		<key>tag_name</key>
		<string>Entertainment</string>
		<key>radius</key>
		<string>5</string>
	</dict>
	<key>shop</key>
	<dict>
		<key>tag</key>
		<string>3849</string>
		<key>radius</key>
		<real>1</real>
		<key>tag_name</key>
		<string>Retail</string>
	</dict>
	<key>eat</key>
	<dict>
		<key>tag</key>
		<string>1684</string>
		<key>radius</key>
		<real>0.5</real>
		<key>tag_name</key>
		<string>Restaurants</string>
	</dict>
</dict>
</plist>
